Host *
  IdentityAgent ~/.1password/agent.sock

Host feelgood
  HostName 109.237.27.208
  User feelgood

Host robbin.dev
  Hostname robbin.dev
  User robbin

Host hotel9
  Hostname 176.58.122.123
  User forge

Host amsterdamapartments
  Hostname 172.233.44.176
  User forge

Host moreapartments
  Hostname 172.233.56.150
  User forge

### Betty NL1 stuff
Host *
  ForwardAgent yes
  # AddKeysToAgent yes # Uncomment if you run MacOS and want to use keychain
  User robbin

Host hopdoos.holderhosting.nl lb3.nl1.betty.systems lb4.nl1.betty.systems monitoring.betty.systems
  ForwardAgent yes
  User robbin

Host *.holderhosting.nl !hopdoos.holderhosting.nl !lb3.holderhosting.nl !lb4.holderhosting.nl !bettylb1.holderhosting.nl !bettylb2.holderhosting.nl
  ProxyCommand ssh -W %h:%p hopdoos.holderhosting.nl
  ForwardAgent yes
  User robbin

Host *.node.nl1.consul *.nl1.betty.systems !lb3.nl1.betty.systems !lb4.nl1.betty.systems
  ProxyCommand ssh -W %h:%p lb4.nl1.betty.systems
  ForwardAgent yes
  User robbin

Host *.dev.betty.systems
  ProxyCommand ssh -W %h:%p lb3.nl1.betty.systems
  ForwardAgent yes
  User robbin

# vim: ft=sshconfig
